<div style="padding:20px;font-size:2.5em;color:blue;">
    <p style="text-align:center">Analyse des tweets</p>
</div>
<hr>

<h2>Import et chargements des donn√©es</h2>

In [84]:
import pandas as pd
from pandas.errors import ParserError
import re
import string
import os
path = "../data/Twitter/"
files = os.listdir(path)
df_list = []
file_names = []

for file_name in files :
    text = re.sub('.csv', '', file_name)
    text = re.sub('_', ' ', text)
    try :
        df = pd.read_csv( path + file_name, delimiter='|')
    except ParserError as e:
        print(f"ParserError for {file_name} : {e}" )
    file_names.append(text)
    dataframes.append(df)

df_ = dict(zip(file_names, dataframes))
    
print(f"{len(dico_df)} dataframes ont √©t√© cr√©√©.")

ParserError for the_book_thief.csv : Error tokenizing data. C error: Expected 1 fields in line 146, saw 2

ParserError for the_song_of_achilles.csv : Error tokenizing data. C error: Expected 1 fields in line 690, saw 2

5 dataframes ont √©t√© cr√©√©.

<h2>Nettoyage des donn√©es</h2>

In [83]:
for df in dataframes:
    print(df.name)
    print(df.isna().sum())

batman
id                   0
url                  0
date                 0
renderedContent      0
hashtags           825
replyCount           0
retweetCount         0
likeCount            0
dtype: int64
the book thief
,tweets,,,,,,,,    0
dtype: int64
the book thief
,tweets,,,,,,,,    0
dtype: int64
the song of achilles
,tweets;;    0
dtype: int64
the song of achilles
,tweets;;    0
dtype: int64

In [ ]:
df['batman']

In [36]:
def clean_words(text):
    '''Make text lowercase, remove text in square brackets,remove links,remove punctuation, multiples spaces
    and remove words containing numbers.'''
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub(r"\s+", " ", text)  # Remove multiple spaces in content
    return text

def remove_stopwords(text, *more_stopwords):
    stop_words = set(stopwords.words('english') + more_stopwords)    
    # Remove stop stopwords
    text = ' '.join(word for word in text.split(' ') if word not in stop_words)
    # Remove one letters words
    text = ' '.join(word for word in text.split(' ') if len(word) > 1)
    return text

In [37]:
clean_series = df_batman.renderedContent.map(clean_text)
clean_series

0      aidanjohnmoffat in the dark knight returns boo...
1      jaimonjahn culturecrave variety at least burto...
2      evleynn cobra kai karate kid trilogy record of...
3       well to be fair neither batman returns nor th...
4      ü§îsay what you want about frank millars storyli...
                             ...
995    well adriannecurry the dark night returns was ...
996    batman year one was just like the book i wish ...
997    the thing abt batman returns its like a comic ...
998    late night reading batman the dark knight retu...
999    the dark night rises night out with son before...
Name: renderedContent, Length: 1000, dtype: object

In [40]:
df_art_of_war = pd.read_csv(path + "the_art_of_war.csv", delimiter="|")
df_art_of_war

                                        ,tweets,,,,,,,,
0     0,"If you know the enemy &amp, know yourself, ...
1                                             ,,,,,,,,,
2                             -The Art of War",,,,,,,,,
3     1,"Today's Italian American MLB player is Art ...
4     2,"@Cernovich @rramom59 You are such a drama q...
...                                                 ...
2617  997,"Know yourself¬†and you will win all battle...
2618                                          ,,,,,,,,,
2619                 ‚ÄîSun Tzu, The Art of War",,,,,,,,,
2620             998,@Peterman43 The art of war,,,,,,,,
2621  999,"@GUUZSMAAN @mojomoby @onerob0t @TritzChri...

[2622 rows x 1 columns]

In [41]:
df_book_thief = pd.read_csv(path + "the_book_thief.csv", delimiter="|")
df_book_thief

ParserError: Error tokenizing data. C error: Expected 1 fields in line 146, saw 2

In [42]:
df_dorian = pd.read_csv(path + "the_picture_of_dorian_grey.csv", delimiter="|")
df_dorian

                                              ,tweets;;
0     0,"RT @fireplacewitch: i want new moots! im co...
1                                                    ;;
2                                 so yeah follow me‚Ä¶";;
3     1,"RT @fireplacewitch: i want new moots! im co...
4                                                    ;;
...                                                 ...
1402  748,"so my copy of the picture of Dorian Gray ...
1403  749,"RT @BooksStoryline: Ten great lines from ...
1404  750,crush just called the picture of dorian gr...
1405  751,@Chris86767838 She looks like the picture ...
1406  752,"""You will always be fond of me. I repres...

[1407 rows x 1 columns]